<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">

    <style>



        #tblAll thead {
            background-color: #4B0082;
            color: #E6E6FA;
            font-size: 14px; 
        }

          
            #tblAll thead th {
                border-bottom: 2px solid #E6E6FA;
                padding: 10px;
            }


        #tblAll tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tblAll tbody tr:hover {
            background-color: #e6e6fa;
        }


        .sidebar {
            margin: 0;
            padding: 0;
            width: 250px;
            background-color: #4B0082; 
            position: fixed;
            height: 100%;
            overflow: auto;
            border-right: 5px solid #4B0082;
        }

            .sidebar a {
                display: block;
                color: #E6E6FA; 
                padding: 16px;
                text-decoration: none;
             
            }

    
                .sidebar a.active {
                    background-color: #E6E6FA;
                    color: #E6E6FA; 
                    border-bottom: 2px solid #4B0082;
                }

    
                .sidebar a:hover:not(.active) {
                    background-color: #E6E6FA; 
                    color: #4B0082; 
                }

        body {
            background-color: #E6E6FA; 
            margin: 0; 
            padding: 0;
        }

    /* Page content */
   
        .content {
            margin-left: 250px;
            padding: 20px;
            background-color: #E6E6FA;
        }

 
    </style>


</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        @if (Session["UserType"].ToString() == "Admin")
        {
            <a href="~/Registration/AdminRegister">Admin Registration</a>
            <a href="~/Registration/EmpRegister">Employee Registration</a>
            <a href="~/Registration/StudRegister"> Student Registration</a>
            <a href="~/Class/AddClass">Add Class</a>
            <a href="~/Class/ClassList">Class List</a>
            <a href="~/Department/AddDept">Add Department</a>
            <a href="~/Department/DeptList">Department List</a>
            <a href="~/Section/AddSection">Add Section</a>
            <a href="~/Section/SectionList">View Sections</a>
            <a href="~/StudCRUD/UploadImage">Add Student Image</a>
            <a href="~/StudCRUD/UploadStudent">Upload as Excel File</a>
            <a href="~/StudCRUD/StudList">View/Edit Student List</a>
            <a href="~/EmpCRUD/AddEmp">Add Employee </a>
            <a href="~/EmpCRUD/EmpList"> View/Edit Employee List</a>
            <a href="~/Fee/AddFeeStruct">Add Fee Structure</a>
            <a href="~/Fee/FeeStructList">View Fee List</a>
            <a href="~/FeeCollection/AddFeeCol"> Add Fee Collection</a>
            <a href="~/FeeCollection/FeeColList"> Fee Collection List</a>
            <a href="~/Login/Logout">Logout</a>
        }
        else if (Session["UserType"].ToString() == "Employee")
        {
            <a href="~/EmpCRUD/EmpList">Employee List</a>
            <a href="~/Login/Logout">Logout</a>

        }
        else
        {
            <a href="~/StudCRUD/StudList">Student List</a>
            <a href="~/Login/Logout">Logout</a>
        }
    </div>

    <!-- Main content -->
    <div class="content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblAll').DataTable({
                "aaSorting": [[0, "desc"]],
                responsive: true,
                columnDefs: [{
                    "defaultContent": "-",
                    "targets": "_all"
                }]
            });
        });

        $(document).ready(function () {
            // Apply purple background to the DataTable header
            $('#tblAll thead').css({
                'background-color': '#800080',  
                'color': 'white'               
            });
        });


    </script>



</body>
</html>